.login-form {
    display: flex;
    justify-content: center;
}

.login-form-style {
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.login-form input {
    margin-bottom: 10px;
}

.register-form {
    display: flex;
    justify-content: center;
}

.register-form-style {
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.register-form input {
    margin-bottom: 10px;
}

.skills-form {
    display: flex;
    justify-content: center;
}

.skills-form-style {
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.skills-form input {
    margin-bottom: 10px;
}