.login-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
}

.login-form input {
    margin-bottom: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.register-form input {
    margin-bottom: 10px;
}

.skills-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.skills-form input {
    margin-bottom: 10px;
}